@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* primary */
  --Orange: hsl(25, 97%, 53%);

  /* neutral */
  --Light-Grey: hsl(217, 12%, 63%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --light-Blue: hsl(213, 7%, 27%);
  --white: hsl(0, 0%, 100%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: overpass;
  color: var(--Light-Grey);
  line-height: 1.6;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Very-Dark-Blue);
}

.container {
  max-width: 420px;
  overflow: hidden;
  background-color: var(--Dark-Blue);
  background: linear-gradient(200deg, var(--light-Blue), var(--Dark-Blue));
}

.card {
  background-color: var(--Dark-Blue);
  border-radius: 25px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.product-img {
  margin-bottom: 2rem;
}

.bg-circle {
  display: flex;
  background-color: var(--light-Blue);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
 
h1 {
  color: var(--white);
}

.pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.page {
  list-style-type: none;
  cursor: pointer;
}

.page:hover {
  background-color: var(--Orange);
  transition: 0.2s;
}

.page:active {
 transition: 0.2s;
 background-color: var(--white);
}


.btn {
  letter-spacing: 3px;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--Orange);
  color: var(--Very-Dark-Blue);
  border: none;
  border-radius: 25px;
  width: 100%;
 }
 
 .btn:hover {
   transform: scale(0.98);
   transition: 0.2s;
 }

 .btn:active {
  transition: 0.2s;
  background-color: var(--white);
}


@media (min-width: 800px) {
  
}


/* font-sizes */
.sm {
  font-size: 1rem;
}

.md {
  font-size: 2rem;
}

.lg {
  font-size: 2.4rem;
}

.xl {
  font-size: 4rem;
}

/* margins */
.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 1.5rem;
}

.m-3 {
  margin: 2rem;
}

.m-4 {
  margin: 3rem;
}

.m-5 {
  margin: 4rem;
}

.mx-1 {
  margin: 0 0.7rem;
}

/* paddings */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}

.px-3 {
  padding: 0 2rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 1.5rem;
}

.p-3 {
  padding: 2rem;
}

.p-4 {
  padding: 2.5rem;
}

.p-5 {
  padding: 3rem;
}